<header class="header">
    <div class="brand">
        <div class="brand-title">Service Day Dashboard</div>
        <div class="brand-subtitle">CSR Volunteer Registration System</div>
    </div>
    <nav class="nav">
    @if (!auth.isLoggedIn()) {
        <a  routerLink="/login" 
            routerLinkActive="active" 
            class="nav-link">
            Login
        </a>
    }
    @if (auth.isLoggedIn() && auth.getRole() === "employee") {
        <a  routerLink="/employee"
            routerLinkActive="active"
            class="nav-link"
            disabled>
            Employee
        </a>
    } @else if (auth.isLoggedIn() && auth.getRole() === "admin") {
        <a  routerLink="/admin"
            routerLinkActive="active"
            class="nav-link">
            Admin
        </a>
    
    }
    </nav>
    
    @if (auth.isLoggedIn()) {
    <div class="authbar">
        <span class="authtext">Logged in as: {{ auth.getRole() }} ({{ auth.getName() }})</span>
        <button class="btn small" (click)="auth.logout()">Logout</button>
    </div>
    }
</header>