<nav class="nav">
    @if (auth.isLoggedIn() && auth.getRole() === "Employee") {
        <a 
        routerLink="/employee/dashboard" 
        routerLinkActive="active"
        class="nav-item">
        Dashboard
        </a>
        <a 
            routerLink="/employee/notification" 
            routerLinkActive="active"
            class="nav-item">
            Notifications
        </a>
    } @else if (auth.isLoggedIn() && auth.getRole() === "Admin") {
        <a
            routerLink="/admin/dashboard"
            routerLinkActive="active"
            class="nav-item">
            Dashboard
            </a>
        <a
            routerLink="/admin/activity-check-in"
            routerLinkActive="active"
            class="nav-item">
            Activity Check-In
        </a>
        <a
            routerLink="/admin/send-notifications"
            routerLinkActive="active"
            class="nav-item">
            Send Notifications
        </a>
    }

</nav>
