ATLAS_URI="Your Own Mongodb URL"
JWT_SECRET="own jwt secret"
EMAIL_USER="yourgmail@gmail.com"
EMAIL_PASS="your-app-password "
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
CLIENT_URL="the angular url link"