<section class="page">
    <h2 class="title">Login</h2>
        <div class="card">
            <div class="row">
                <label class="field">
                    Name
                    <input [(ngModel)]="name" placeholder="e.g., lorem Ipsum" />
                </label>
            </div>

            <div class="actions">
                <button class="btn primary" (click)="onLogin()">Login</button>
            </div>
        </div>
        @if (error) {
            <div class="error">{{ error }}</div>
        }
</section>
